<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	
	<bean id="BeanNameUrlHandlerMapping" class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping">
	
</bean>
	
<bean id="InternalResourceViewResolve" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	<property name="prefix" value="/jsp/" />
	<property name="suffix" value=".jsp" />
</bean>
	
	
<bean id="/welcom.tmall" class="spring_web04.HelloController">
	<property name="name" value="홍길동" />
</bean>
	
<bean id="/now.tmall" class="spring_web04.NowController"></bean>
	

</beans>
