<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	
	<!-- StunGun sg = new StunGun(); -->
	<bean id="sg" class="spring_app05_maven.StunGun"></bean>
	<bean id="g" class="spring_app05_maven.Gun"></bean>
	<!-- Police p = new Police(Weapon w, int hp); -->
	<bean id="p" class="spring_app05_maven.Police">
		<!-- index는 0 부터 시작 -->
		<!-- ref는 참조값(주소) -->
<!-- 		<constructor-arg index="0" ref="sg" ></constructor-arg>
		<constructor-arg index="1" value="150"></constructor-arg> -->
		
		<!-- 생성자 overloading이 없고 getter/setter만 있다면 -->
		<property name="w" ref = "sg"></property>
		<property name="hp" value="150"></property>		
	</bean>
	
	
	
	
	
	<bean id="sniper" class="spring_app05_maven.Sniper">
		<constructor-arg index="0" ref="g"></constructor-arg>
		<constructor-arg index="1" value="98"></constructor-arg>
	
<!-- 		<property name="w" ref = "g"></property>
		<property name="hp" value="98"></property> -->
	</bean>
	
	
</beans>
