<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	
	
	<bean id="interceptor_before" class="advice.InterceptorAdvice"></bean>
	<bean id="interceptor_after" class="advice.MethodAfter_Advice"></bean>


	<bean id="biz" class="spring_aop03_before_hw.BankServiceImple"
		 p:name="반장" p:balance="1000000"
	>
	
<!-- 	<property name="name" value="반장" />
	<property name="balance" value="100000" /> -->
	
	
</bean>




 <bean id="proxyBean" class="org.springframework.aop.framework.ProxyFactoryBean"
	p:target-ref="biz" p:interceptorNames="interceptor_before,interceptor_after" 
> 
<!-- 	<property name="target" ref="biz" />
	<property name="interceptorNames" >
		<list>
			<value>interceptor_before</value>
			<value>interceptor_after</value>
		</list>
	</property> -->
	
	
	
</bean>



</beans>
