<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
	
<bean id="advice" class="spring_aop07_aopHW.CheckWeapon_proxy"></bean>
	
<bean id="biz" class="spring_aop07_aopHW.WeaponImple">
		<property name="w" value="총" />
</bean>

	<bean id="checkaspectJ" class="spring_aop07_aopHW.CheckWeapon_aspectJ"></bean>


<!-- <bean id="proxyBean" class="org.springframework.aop.framework.ProxyFactoryBean">
	<property name="target" ref="biz" />
	<property name="interceptorNames" value="advice"/>

</bean> -->

	<aop:config>
		<aop:aspect id = "weaponAspect" ref = "checkaspectJ">
			<aop:pointcut expression="execution (public * *(..))" id="checkPointCut"/>
			
			<aop:around method="logAround" pointcut-ref="checkPointCut"/>
		</aop:aspect>
	
	
	
	</aop:config>
	
	
	

</beans>
