<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd">


<!-- 이름에 맞게 알아서 잘 처리할 것을 스프링에게 요청 (이 코드를 넣어두는게 작업 때 편리함) -->
<mvc:annotation-driven/>


<!-- 기본적으로 설정된 주소 외에 처리해달라고 요청할 경우가 있음
	ex) jsp에 이미지 파일 호출하기
	servlet-handler가 처리하도록 요청하면 됨
 -->
 
<mvc:default-servlet-handler/>


<!-- 요청경로와 뷰 이름을 알 경우 -->
<mvc:view-controller path="/main" view-name="main"/>


<mvc:view-resolvers>
	<mvc:jsp prefix="/WEB-INF/views/" suffix=".jsp"/>
</mvc:view-resolvers>


</beans>
