<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	
<bean class = "org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"></bean>
	
	
	<bean id="os" class="spring_app10_annoEx.PhoneOS">
		<property name="name" value = "안드로이드"/>   <!-- setter 에 값을 넣을때 -->
		<property name="version" value="Android 10" />
	</bean>

	<bean id="sp" class="spring_app10_annoEx.SmartPhone"></bean>
	

</beans>
